/* Icons */
.icons {
    object-fit: contain;
}
#delete-icon {
    height: 40px;
    width: 35px;
}
#menu-icon {
    height: 40px;
    width: 35px;
}
/* Search Bar */
.search{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
    transition: left 1s;
}
.search.moveRight{
    left: 67.5% !important;
}
.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}
.search-suggestions {
    background-color: white;
    z-index: 10;
}

/* Menu  */
.menu {
    display: flex;
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 100vh;
    width: 30px;
    background-color: grey;
    transition: width 1s;
}
.menu.open {
    width: 40vh;
}

.menu-btn-open {
    position: absolute;
    height: 40px;
    width: 35px;
    right: 0rem;
    top: 50%;
    transition: display 1s;
}
.menu-btn-open.hide {
    display: none;
}

.menu-btn-close {
    position: absolute;
    height: 40px;
    width: 35px;
    right: 0rem;
    display: none;
    transition: display 1s;
}
.menu-btn-close.show {
    display: inline;
}

.title {
    position: absolute;
    font-size: 30px;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    margin: 0;
    padding: 0;
    color: white;
    visibility: hidden;
    transition: visibility 0.35s;
}
.title.show {
    visibility: visible;
}

#search-container-address {
    top: 8%;
}
.stays-page {
    display: none;
    transition: display 1s;
}
.stays-page.show {
    display: flex;
}

.gos-page {
    display: none;
    transition: display 1s;
}
.gos-page.show {
    display: flex;
}

.favs-page {
    display: none;
    transition: display 1s;
}
.favs-page.show {
    display: flex;
}